.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-column-idCurso {
  flex: 0 0 100px;
}

.mat-column-nombre {
  flex: 0 0 200px;
}

.mat-column-descripcion {
  flex: 0 0 200px;
}

.mat-column-horas {
  flex: 0 0 100px;
}

.mat-column-docente {
  flex: 0 0 150px;
}

.mat-column-vigencia {
  flex: 0 0 75px;
}
