<div class="container mat-elevation-z8">

  <router-outlet></router-outlet>

<div class="header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Curso">
  </mat-form-field>
</div>

<mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="idCurso">
    <mat-header-cell  *matHeaderCellDef mat-sort-header> ID Curso </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.idCurso}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="descripcion">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.descripcion}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="horas">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Total Horas </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.cantHoras}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="docente">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Docente </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.docente}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="vigencia">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Vigente </mat-header-cell>
    <mat-cell *matCellDef="let row">
        {{row.vigente === true ? 'SI' : 'NO'}}
      </mat-cell>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" [routerLink]="['modificar', row.idCurso]">Actualizar</button>
      <button mat-button color="accent" (click)="eliminar(row)" >Eliminar</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;">
  </mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>

<button mat-fab color="accent" style="float: right; margin-right: 20px" routerLink='/curso/registrar'>
  <mat-icon>create</mat-icon>
</button>
