<form class="container" [formGroup]="form" (ngSubmit)="operar()" #cursoForm="ngForm">

    <div [hidden]="true">
      <mat-form-field class="full-width">
        <input matInput placeholder="ID" required formControlName="idcurso">
      </mat-form-field>
    </div>

    <mat-form-field class="full-width">
      <input matInput placeholder="Nombre del Curso" required formControlName="nombre">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Descripción del Curso" required formControlName="descripcion">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Cantidad de horas del Curso" required formControlName="horas">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="docente" required formControlName="docente">
    </mat-form-field>


    <mat-form-field>
        <mat-select placeholder="Seleccione el estado de Vigencia"  formControlName="vigencia">
          <mat-option [value]="true">Activo</mat-option>
          <mat-option [value]="false">Inactivo</mat-option>
        </mat-select>
      </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="cursoForm.invalid">
      <mat-icon>done</mat-icon>
      <span>Aceptar</span>
    </button>

    <button mat-raised-button color="accent" routerLink='/curso' type="button">
      <mat-icon>close</mat-icon>
      <span>Cancelar</span>
    </button>
  </form>

  <br/>
